* {
    outline: 1px solid pink;
    font-family: 'Roboto';
}

body {
    margin: 0;
    
}

.header {
    background-color:#1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.logo {
    font-weight: bold;
    color: white;
    font-size: large;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-right {
    display: flex;
    margin: auto 0;
    gap: 24px;
}

.hero {
    background-color:#1F2937;
    display: flex;
    padding: 80px 200px;
}

.hero .main-text {
    color: #F9FAF8;
}

.hero .secondary-text {
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
}

.placeholder {
    background-color: gray;
}

p {
    color: #F9FAF8;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}