* {
    outline: 1px solid pink;
    font-family: 'Roboto';
}

body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.logo {
    font-weight: bold;
    color: white;
    font-size: large;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}

.header-right {
    display: flex;
    margin: auto 0;
    gap: 24px;
}